{% extends 'base.html' %}
{% block content %}
    <h1>Rey Inventory</h1>

    <h5>Name: </h5>
    <p>{{ name }}</p>
    <h5>Class: </h5>
    <p>{{ class }}</p>
    <h5>Amount: </h5>
    <p>{{ amount }}</p>
    <h5>Description: </h5>
    <p>{{ description }}</p>

    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date Added</th>

            <th>Add</th>
            <th>Sub</th>
            <th>Delete</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.description}}</td>
                <td>{{item.date_added}}</td>
                <td>
                    <form method="post" action="{% url 'main:increment_amount' item.id %}">
                        {% csrf_token %}
                        <button type="submit">+</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'main:sub_amount' item.id %}">
                        {% csrf_token %}
                        <button type="submit">-</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'main:delete_item' item.id %}">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}